[default]
aws_access_key_id=change-me
aws_secret_access_key=change-me
aws_session_token=change-me
region=us-east-1

[rds]
db_instance_id=grupo-5-classicmodels-source
db_name=classicmodels
db_user=admin
db_password=change-me
db_port=3306
instance_class=db.t3.micro
allocated_storage=20

[etl]
bucket_name=grupo-5-task-2-classicmodels
job_name=grupo-5-classicmodels-star-schema-etl
output_prefix=output

