@"
.venv/
__pycache__/
*.pyc
.python-version

.env
.env.*
!.env.example
.aws/
*.pem
*.key

**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfplan
*.tfvars
*.tfvars.json
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.zip
*.exe

.DS_Store
.vscode/
"@ | Set-Content -Encoding UTF8 .gitignore