.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

.env
.env.*
!.env.example
*.pem
*.key
*.tfvars
*.tfvars.json

**/.terraform/
**/terraform.tfstate
**/terraform.tfstate.*
**/*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

*.zip
*.exe

.DS_Store
Thumbs.db
.vscode/