aws_region           = "us-east-1"
project_name         = "grupo5-task2"
db_host              = "meu-mysql-lab.xxxxxxxx.us-east-1.rds.amazonaws.com"
db_port              = 3306
db_name              = "classicmodels"
db_user              = "admin"
db_password          = "CHANGE_ME"
db_security_group_id = "sg-xxxxxxxxxxxxxxxxx"
vpc_id               = "vpc-xxxxxxxxxxxxxxxxx"
subnet_id            = "subnet-xxxxxxxxxxxxxxxxx"
glue_role_arn        = "arn:aws:iam::381492055249:role/LabRole"