DB_HOST=classicmodels-rds-lab.xxxxxx.us-east-1.rds.amazonaws.com
DB_PORT=3306
DB_USER=admin
DB_PASSWORD=troque_esta_senha_forte
DB_NAME=classicmodels
MYSQL_SQL_PATH=data/mysqlsampledatabase.sql
MYSQL_CONNECT_RETRIES=10
MYSQL_CONNECT_DELAY_SECONDS=10