# Arquivo .env para variáveis de ambiente
# Copie este arquivo para .env e preencha com suas credenciais reais

AWS_ACCESS_KEY_ID=SEU_ACCESS_KEY_ID_AQUI
AWS_SECRET_ACCESS_KEY=SEU_SECRET_ACCESS_KEY_AQUI
AWS_DEFAULT_REGION=us-east-1